body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
  }

 
  form {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  }
  .form-check-label a:hover{
   text-decoration: dashed;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="text"], input[type="email"], select ,input[type='password']{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    background-color: #f5eded;
  }
  input[type="submit"]{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }
.c{
    background-color: #4c4faf;
  }
  
  .d ,.d:hover{
    color: black;
  }
  .err{
    background-color: red;
    text-align: center;
    color: aliceblue;
    margin-bottom: 10px;
  }
  